<div class="main-content">
<h1 id="booking-heading">Ajanvaraus</h1>

<form action='/appointmentBooker' method='POST' aria-labelledby="booking-heading">
  <div>
    <label for='asiakas_nimi'>Nimi:</label>
    <input type='text' id='asiakas_nimi' name='name' required aria-required="true">
  </div>

  <div>
    <label for='asiakas_email'>Sähköposti:</label>
    <input type='email' id='asiakas_email' name='email' required aria-required="true">
  </div>

  <div>
    <label for='service_id'>Palvelu: <span aria-hidden="true">
    <select name='service_id' id='service_id' required aria-required="true">
      <option disabled selected value="">Valitse palvelu</option>
      {{#each services}}
        <option value='{{this._id}}'>
          {{this.nimi}} ({{this.hinta_euro}}€, {{this.kesto_min}} min)
        </option>
      {{/each}}
    </select>
    </span>
    </label>
  </div>

  <div>
    <label for='mechanic_id'>Mekaanikko: <span aria-hidden="true">
    <select name='mechanic_id' id='mechanic_id' required aria-required="true">
      <option disabled selected value="">Valitse mekaanikko</option>
      {{#each mechanics}}
        <option value='{{this._id}}'>{{this.nimi}}</option>
      {{/each}}
    </select>
    </span>
    </label>
  </div>

  <div>
    <label for='varattu_aika'>Aika: <span aria-hidden="true">
    <input type='datetime-local' id='varattu_aika' name='datetime' required aria-describedby="datetime-hint">
    <p id="datetime-hint" class="visually-hidden">Valitse päivämäärä ja kellonaika (vuosi, kuukausi, päivä ja aika).</p>
    </span>
    </label>
  </div>

  <button type='submit'>Varaa aika</button>
</form>
</div>
