<div class="main-content">
<h1>Varauksesi tiedot:</h1>
<dl>
  <dt>Nimi:</dt>
  <dd>{{booking.asiakas_nimi}}</dd>

  <dt>Sähköposti:</dt>
  <dd>{{booking.asiakas_email}}</dd>

  <dt>Palvelu:</dt>
  <dd>{{booking.palvelu_id.nimi}}</dd>

  <dt>Mekaanikko:</dt>
  <dd>{{booking.mekaanikko_id.nimi}}</dd>

  <dt>Aika:</dt>
  <dd>{{formatDateForInput booking.varattu_aika}}</dd>

  <dt>Kesto:</dt>
  <dd>{{booking.palvelun_kesto}} min</dd>
</dl>
</div>